<div _ngcontent-gti-c513="" class="ForkMeOnGithub fixed top-0 right-0 mt-10 -mr-12 transform rotate-45 bg-gray-900 z-10"><a _ngcontent-gti-c513="" href="https://github.com/dimaslz/cross-ui-core" target="_blank" class="flex text-gray-300 hover:text-gray-100 px-10 py-1 border border-white my-1 border-dashed">Fork me on GitHub</a></div>

<div class="p-10">
  <h1 class="my-4 text-2xl">Demo button using @cross-ui/angular library</h1>

  <div class="py-2">
    <cui-button
      *ngFor="let color of colors"
      [color]="color"
      class="mx-1"
    >
      my button
    </cui-button>
  </div>

  <div class="py-2">
    <cui-button
      *ngFor="let color of colors"
      [color]="color"
      class="mx-1"
      outline
    >
      my button
    </cui-button>
  </div>

</div>